.comment-author.vcard {
    font-family: 'Alegreya Sans';
    font-size: 1.2em;
}

.comment-author cite {
	font-style: normal;	
}


.comment-meta.commentmetadata {
    font-size: small;
}

.comment-form-comment {
    margin: 10px 0 !important;
}

h2#reply-title {
    margin: unset;
}

.comment-body {
    margin: 20px 0;
    background: rgba(256, 256, 256, 0.5);
    padding: 5px 5px 15px;
    position: relative;
}

.comment-body > div {
    margin: 10px 0;
}

#comments .comment-form-email {
    margin: 10px 0;
}

input#author, input#email , #comment{
    border: 1px solid #8B8B8B;
    border-radius: 3px;
    padding: 3px 10px;
    font-family: unset;
    width: 100%;
    box-sizing: border-box;
    color: #333;
}

#submit {
    font-family: unset;
}

.comment-form-email label, .comment-form-author label {
    display: none;
}

.reply {
    float: right;
    position: absolute;
    right: 10px;
    top: 25px;
}

/**
 * 11.4 - Comments
 */

.comments-area {
	margin: 0 7.6923% 3.5em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #d1d1d1;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 3em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 42px;
	margin-right: 0.875em;
	position: relative;
	width: 42px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: #686868;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: #007acc;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #7BA790;
	border-radius: 2px;
	color: #7BA790;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	border-color: currentColor;
	color: #007acc;
	outline: 0;
}

.comment-form label {
	font-family: 'Open Sans', sans-serif;	
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: Inconsolata, monospace;
}

.form-submit {
    text-align: right;
}

.required {
	color: #007acc;
	font-family: Merriweather, Georgia, serif;
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 41px;
	overflow: hidden;
	width: 160px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #1a1a1a;
}

.comment-reply-title small a::before {
    content: "\0045";
    font-size: 12px;
    position: relative;
    top: 1px;
    font-family: 'mapa_feiras';
}
