@charset "UTF-8";
/*!
 Theme Name:   IDEC Feiras Orgânicas
 Author:       Leo BR
 Author URI:   http://leobr.com
 */
@import url(fonts/stylesheet.css);
html, body {
/*  font: 100%/1.5 "allerregular", sans-serif;
  height:100%;
  width:100%;
  color: #000; */
}
html {
  /*min-height: 100%; */
}
body {
  /*min-height: 100%;*/
 /* margin: 0;
  padding: 0;
  display: table;*/
}
#map_canvas {
  height: 100%; }

.inner {
  padding: 10px; }

img {
  max-width: 100%;
  height: auto; }

.small, small {
  font-size: .8em; }

.text-center {
  text-align: center; }

.type_info {
  color: #50a7ae;
}

.fleft {
  float: left; }

.fright {
  float: right; }

.clear {
  clear: both; }

/*h1 {
  color: #000;
  font-size: 1.5em; }
*/
#filters {
  /*position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  background: url(images/footer_bg2.png) repeat-x #FFF;
  z-index: 100; */
}
  #filters #dofilter {
    background: url(images/btn_filtrar.png) no-repeat;
    width: 83px;
    height: 46px;
    text-indent: -999px;
    overflow: hidden;
    display: inline-block;
    margin-left: 10px; }
  #filters .selects-wrapper {
    margin-left: 150px;
    margin-top: 30px;
    float: left; }
    #filters .selects-wrapper .selectboxit-container {
      margin-right: 10px; }
  #filters .idec_logo {
    margin-top: 20px;
    margin-right: 15px;
    float: right; }

/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */
/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/
/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: top; }

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  font-family: "allerregular", Sans-serif;
  font-size: .95em;
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap; }

/* Button */
.selectboxit-container .selectboxit {
  width: 220px;
  /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  position: relative; }

span#tipoSelectBoxIt {
  width: 135px; }

span#diasSelectBoxIt {
  width: 200px; }

span#periodoSelectBoxIt {
  width: 100px; }

span#ratingSelectBoxItContainer {
  width: 120px; }

ul#tipoSelectBoxItOptions {
  width: 400px; }

.selectboxit .selectboxit-option-icon-container {
  margin-left: 0 !important; }

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 30px;
  /* Height of the drop down */
  line-height: 30px;
  /* Vertically positions the drop down text */
  display: block; }

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0; }

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }

/* Button Text */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left; }

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px; }

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  border-radius: 6px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* Individual options */
.selectboxit-option .selectboxit-option-anchor {
  padding: 0 2px; }

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none; }

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px;
  /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none; }

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; }

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  font-weight: bold; }

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default; }

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  position: absolute;
  right: 0; }

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0; }

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%; }

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left; }

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle; }

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left; }

.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit; }

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px; }

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  padding: 5px 0 !important;
  text-shadow: 1px 1px 0 #fff;
  border: 1px solid #dadada;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background: -o-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ededed 100%);
  background: linear-gradient(to bottom, #f6f6f6 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed',GradientType=0 );
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9); }

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
  color: #333333;
  background-color: #000; }

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  color: #333333;
  text-decoration: none; }

.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.selectboxit-list {
  background-color: #ededed;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.selectboxit-list .selectboxit-option-anchor {
  color: #333333; }

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: #ffffff;
  background-color: #2b4e7e; }

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999; }

#ratingSelectBoxIt {
  width: 130px; }

#ratingSelectBoxItContainer * {
  font-family: "Glyphicons Halflings";
}

#ajax_search_loading {
  position: absolute;
  right: 25px;
  top: -20px;
  display:none;
}

#top {
  position: fixed;
  background: url(images/header_bg.png) repeat-x;
  height: 77px;
  top: 0;
  left: 0;
  z-index: 100; }
  #top .main-logo, {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #top .menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    #top .menu li {
      float: left; }
      #top .menu li a {
        height: 77px;
        line-height: 70px;
        color: #FFF;
        padding: 0 10px;
        text-decoration: none;
        font-family: "allerregular", Sans-serif;
        font-size: .9em; }
        #top .menu li a:hover {
          color: #cde76c; }
  #top .add_new_item {
    margin: 0 30px; }
  #top .share {
    margin-top: 20px;
    display: inline;
    float: right;
    height: 34px;
    margin-right: 15px; }
    #top .share .share_mail {
      margin-left: 10px;
      height: 34px; }
    #top .share #shareit {
      height: 34px;
      margin-left: 10px;
      display: inline;
      position: relative; }
    #top .share .social-media {
      top: 20px;
      position: absolute;
      right: 0;
      width: 80px;
      padding: 5px;
      background: #fff;
      box-shadow: 1px 1px 3px #666;
      display: none;
      z-index: 1000; }

.social-media {
  text-align: center; }
  .social-media a {
    font-family: "Social Icons";
    text-decoration: none;
    font-size: 40px; }
    .social-media a.facebook {
      color: #425F9C; }
    .social-media a.twitter {
      color: #52A6E6; }

  #scrollbar {
    border-right: 1px solid #bfbfbf;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    display: none;
  }
  #locationStatsList {
      height: calc(100vh - 377px) !important;
      overflow: auto;
  }
.type-icon {
  width: 36px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url(images/icones_tipos.png);
  float: left;
  margin-right: 15px; }
  .type-icon.feira {
    background-position: 0 0; }
  .type-icon.cooperativa, .type-icon.associacao {
    background-position: -36px  0; }
  .type-icon.grupo {
    background-position: -72px 0; }
  .type-icon.produtor {
    background-position: -108px 0; }

.cluster {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #2b4e7e;
  color: #2b4e7e;
  padding: 10px;
  display: block;
  border-radius: 100%;
  text-align: center;
  font-family: "allerbold";
  font-size: 1.2em;
  cursor: zoom-in; }
  .cluster:before {
    content: "";
    background: url(images/pin.png);
    width: 25px;
    height: 35px;
    display: block;
    margin: 0 auto 5px auto; }
  .cluster.cluster-1 {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px; }
  .cluster.cluster-2 {
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px; }
    .cluster.cluster-2:before {
      margin-top: 10px; }
  .cluster.cluster-3 {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px; }
    .cluster.cluster-3:before {
      margin-top: 20px; }
  .cluster.cluster-4 {
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px; }
    .cluster.cluster-4:before {
      margin-top: 25px; }

.idec_outer_marker_infos {
/*  -webkit-box-shadow: 0 0 20px 0 rgba(150, 150, 150, 0.8);
  box-shadow: 0 0 20px 0 rgba(150, 150, 150, 0.8); */
  }

.idec_marker_infos {
/*  width: 100%;
  padding-top: 10px;
  border-bottom: none;
  height: 170px;
  background: url(images/map_overlay_bg.png);
  text-align: center;
  font-size: 12px;*/
}
  .idec_marker_infos h1 {
    /*font-size: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf6f7; */
  }
  .idec_marker_infos .address {
   /* display: block;
    font-size: .85em;*/
  }
  .idec_marker_infos .city-uf {
  /*  font-size: 1em;
    display: block; */
  }
  .idec_marker_infos .route {
    /*padding-top: 10px;
    font-size: .85em;
    display: block;
    margin-bottom: 10px;*/
  }
  .idec_marker_infos .map_overlay_footer {
    /*background-color: #00a;*/
  }
    .idec_marker_infos .map_overlay_footer .more {
   /*   display: block;
      color: #FFF;
      line-height: 20px;
      font-family: "allerbold";
      text-align: center;
      text-decoration: none;*/
    }
      .idec_marker_infos .map_overlay_footer .more:hover {
        /*text-decoration: underline; */
      }
    .idec_marker_infos .map_overlay_footer .idec_rating {
    /*  padding-top: 8px;
      text-align: center;
      float: left;
      width: 60%;
      display: block; */
    }

.star-result, .no-rating-results-text, .rating-form h4 {
  display: none !important; }

.fa {
  margin: 0 2px; }

.left-side {
  width: 100%; }

.page.page-template-default .left-side .wrap-content {
  position: relative;
  margin-top: 0;
  padding-top: 60px; }
  .page.page-template-default .left-side .wrap-content .idec_logo {
    width: 90px;
    height: 75px;
    position: absolute;
    top: 20px;
    right: 0;
    background-image: url(images/idec_logo.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: block; }
.page #filters > div, .page #top > div {
  width: 960px;
  margin: 0 auto; }
.page .left-side {
  width: 100%; }
  .page .left-side .wrap-content {
    width: 960px;
    margin: 50px auto 0 auto; }
    .page .left-side .wrap-content h1 {
      font-size: 1.9em;
      font-weight: normal;
      color: #2b4e7e; }
    .page .left-side .wrap-content h2 {
      letter-spacing: normal;
      font-size: -0.5px;
      font-size: 1.3em;
      margin-bottom: 15px;
      color: #84a01a;
      margin-top: 20px; }
    .page .left-side .wrap-content p {
      line-height: 1.3em;
      font-size: 1.2em;
      margin-bottom: 20px;
      text-align: justify; }

#idec-comment-form, #form-erro {
  display: none;
  width: 566px;
  height: 330px; }
  #idec-comment-form h1, #form-erro h1 {
    font-size: 1.6em;
    font-family: "allerregular", Sans-serif;
    font-weight: normal; }
  #idec-comment-form label, #form-erro label {
    display: none; }
  #idec-comment-form div#respond, #form-erro div#respond {
    padding-bottom: 60px;
    position: relative; }
  #idec-comment-form p.comment-form-url.comment-form-attachment, #form-erro p.comment-form-url.comment-form-attachment {
    position: absolute;
    bottom: -20px;
    left: 0; }
  #idec-comment-form p.form-submit, #form-erro p.form-submit {
    position: absolute;
    bottom: 0;
    right: 0; }
    #idec-comment-form p.form-submit #submit, #form-erro p.form-submit #submit {
      width: 194px;
      height: 46px;
      background: url(images/btn_enviar_comentario.png);
      text-indent: -9999px; }
  #idec-comment-form .comment-notes, #form-erro .comment-notes {
    font-size: .8em;
    margin-bottom: 5px; }
  #idec-comment-form input[type="text"],
  #idec-comment-form input[type="email"], #form-erro input[type="text"],
  #form-erro input[type="email"] {
  /*  background: url(images/input_bg_2.png);
    display: block;
    width: 546px;
    border: none;
    height: 38px;
    font-family: "allerregular", Sans-serif;
    margin-top: 10px;
    padding: 3px 10px; */
  }
  #idec-comment-form textarea, #form-erro textarea {
    background: url(images/textarea_bg.png) no-repeat;
    margin-top: 10px;
    padding: 10px;
    width: 546px;
    height: 58px;
    border: none;
    font-family: "allerregular", Sans-serif; }
  #idec-comment-form #attachment::-webkit-file-upload-button, #form-erro #attachment::-webkit-file-upload-button {
    visibility: hidden; }
  #idec-comment-form #attachment::before, #form-erro #attachment::before {
    content: attr(data-value);
    display: inline-block;
    background-image: url(images/btn_enviar_foto.png);
    background-repeat: no-repeat;
    background-color: #fff;
    padding-left: 145px;
    padding-top: 13px;
    font-family: "allerregular", Sans-serif;
    color: #555;
    width: 233px;
    height: 33px; }
  #idec-comment-form p.ajax-error,
  #idec-comment-form p.ajax-success, #form-erro p.ajax-error,
  #form-erro p.ajax-success {
    font-size: .9em;
    padding: 8px 0; }
  #idec-comment-form p.ajax-error, #form-erro p.ajax-error {
    color: red; }
  #idec-comment-form p.ajax-success, #form-erro p.ajax-success {
    color: green; }

#form-erro {
  display: block;
  width: auto;
  height: auto; }
  #form-erro .wpcf7-submit {
    background: url(images/btn_bg.png);
    height: 46px;
    width: 83px;
    text-align: center;
    border: none;
    line-height: 1rem; }
    #form-erro .wpcf7-submit:hover {
      text-shadow: 0; }

.fancybox-skin {
  background: #fff; }

.fancybox-close {
  background: url(images/icon_fechar.png);
  width: 37px;
  height: 37px;
  top: 5px;
  right: 5px; }

.rating-form form {
  margin-top: 0 !important; }
.rating-form .save-rating {
  float: left;
  font-size: .8em;
  padding: 2px 5px;
  margin-top: 4px; }
.rating-form p {
  float: left;
  padding-top: 6px;
  padding-right: 10px; }

.col2 {
  float: left;
  width: 45%;
  min-width: 450px;
  margin-top: 30px;
}
.col2.col-last {
    width: 45%;
    min-width: 330px;
    margin-top: 0;
    margin-right: 0;
  }
  .col2.col-last img {
    width: 100%;
    height: auto;
  }

.btn, #idec-comments-list ul li .reply .comment-reply-link, input[type="submit"], input[type="button"] {
  border-radius: 3px;
  padding: 5px 7px;
  border: #1e3658;
  background: #2b4e7e;
  color: #fff;
  cursor: pointer; }
  .btn:hover, #idec-comments-list ul li .reply .comment-reply-link:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #2b4e7e;
    box-shadow: 0px 0px 3px #000; }

.contents {
  /*padding-top: 77px;*/
  width: 100%; }
#item-ajax-content {
  padding-top: 0;
}
  .contents .opening_days {
    position: relative;
    margin-bottom: 20px; }
    .contents .opening_days br {
      display: none; }
    .contents .opening_days .day {
      display: inline-block;
      background: #666;
      color: #fff;
      height: 20px;
      padding: 5px 10px;
      line-height: 20px;
      cursor: pointer; }
      .contents .opening_days .day:hover {
        background: #000; }
    .contents .opening_days .day-infos {
      position: absolute;
      display: none;
      bottom: 0;
      left: 0;
      height: 10px;
      line-height: 10px;
      font-size: .8em; }

  .contents .seasons .tabs > div {
    width: 25%;
    height: 70px;
    border: 1px solid #eee;
    text-align: center;
    color: #2b4e7e;
    font-size: 0.9em;
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
    cursor: pointer; }
    .contents .seasons .tabs > div .s-icon {
      background-image: url(images/icon_seasons.png);
      background-repeat: no-repeat;
      height: 50px;
      width: 60px;
      display: block;
      margin: 0 auto; }
    .contents .seasons .tabs > div.spring .s-icon {
      background-position: 0 0; }
      .contents .seasons .tabs > div.spring .s-icon:hover, .contents .seasons .tabs > div.spring .s-icon.selected {
        background-position: 0 -50px; }
    .contents .seasons .tabs > div.summer .s-icon {
      background-position: -60px 0; }
      .contents .seasons .tabs > div.summer .s-icon:hover, .contents .seasons .tabs > div.summer .s-icon.selected {
        background-position: -60px -50px; }
    .contents .seasons .tabs > div.autumn .s-icon {
      background-position: -120px 0; }
      .contents .seasons .tabs > div.autumn .s-icon:hover, .contents .seasons .tabs > div.autumn .s-icon.selected {
        background-position: -120px -50px; }
    .contents .seasons .tabs > div.winter .s-icon {
      background-position: -180px 0; }
      .contents .seasons .tabs > div.winter .s-icon:hover, .contents .seasons .tabs > div.winter .s-icon.selected {
        background-position: -180px -50px; }
  .contents .seasons .contents {
    width: 100%;
    padding: 20px 0 0 0; }
    .contents .seasons .contents table {
      width: 100%; }
      .contents .seasons .contents table tr {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee; }
        .contents .seasons .contents table tr:nth-child(even) {
          background: #f1f1f1; }
        .contents .seasons .contents table tr td {
          border-top: 1px solid #eee;
          border-left: 1px solid #eee;
          padding: 10px;
          text-align: center; }
  .contents .page-item {
    float: left; }
  .contents .add-item-page {
    width: 95%;
    float: left;
    margin-left: 1%;
    font-size: 15px;
    padding-bottom: 150px;
    position: relative; }
    .contents .add-item-page h1 {
      font-size: 1.9em;
      font-weight: normal;
      color: #2a2a2a; }
    .contents .add-item-page h2 {
      letter-spacing: normal;
      font-size: -0.5px;
      font-size: 1.3em;
      margin-bottom: 15px;
      color: #2a2a2a; }
    .contents .add-item-page #filters {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: none; }
      .contents .add-item-page #filters span {
        color: #ccc;
        line-height: 43px; }
      .contents .add-item-page #filters .wpcf7-form-control.wpcf7-submit.btn, .contents .add-item-page #filters #idec-comments-list ul li .reply .wpcf7-form-control.wpcf7-submit.comment-reply-link, #idec-comments-list ul li .reply .contents .add-item-page #filters .wpcf7-form-control.wpcf7-submit.comment-reply-link {
        width: 158px;
        height: 46px;
        border: none;
        text-indent: -9999px;
        background: url(images/btn_enviar_local.png); }

.page.page-template-clear .contents, .page.page-template-add-local .contents {
  padding: 0; }
  .page.page-template-clear .contents .wrap-content {
    margin: 0 !important; }

.page.page-template-add-local {
  height: auto;
  overflow: auto;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-image: url(images/footer_bg2.png); }
  .page.page-template-add-local .contents {
    padding-bottom: 0; }

#idec-comments-list {
  display: none;
  width: 400px; }
  #idec-comments-list ul {
    list-style: none; }
    #idec-comments-list ul li {
      margin: 10px 0;
      padding: 10px 0;
      border-bottom: 1px solid #666; }
      #idec-comments-list ul li .commentmetadata {
        font-size: .8em;
        margin: 8px 0; }
      #idec-comments-list ul li .reply {
        text-align: right; }
        #idec-comments-list ul li .reply .comment-reply-link {
          text-decoration: none;
          font-size: .8em; }

.comments a.prev, .comments a.next {
  font-size: 1.2em;
  color: #666;
  text-decoration: none;
  position: absolute;
  top: 65%;
  left: 5px;
  z-index: 1000; }
.comments a.next {
  left: auto;
  right: 5px; }

.wrap-content {
  margin-left: 90px;
  margin-right: 50px;
  font-size: .8em; }
  .wrap-content .infos {
    color: #666; }
  .wrap-content.feira .title, .wrap-content.feira h2, .wrap-content.feira h3, .wrap-content.feira h4 {
    color: #50a7ae; }
  .wrap-content.feira .day {
    color: black;
    background: #96cace; }
    .wrap-content.feira .day:hover {
      background: #50a7ae;
      color: #fff; }
    .wrap-content.feira .day.disabled {
      background: #ccc;
      color: #fff; }
      .wrap-content.feira .day.disabled:hover {
        background: #ccc;
        color: #fff; }
  .wrap-content.feira .idec-comment {
    background: #C7E5E7; }
  .wrap-content.cooperativa .title, .wrap-content.cooperativa h2, .wrap-content.cooperativa h3, .wrap-content.cooperativa h4, .wrap-content.cooperativa .infos, .wrap-content.associacao .title, .wrap-content.associacao h2, .wrap-content.associacao h3, .wrap-content.associacao h4, .wrap-content.associacao .infos {
    color: #ff9900; }
  .wrap-content.cooperativa .day, .wrap-content.associacao .day {
    color: black;
    background: #ffc266; }
    .wrap-content.cooperativa .day:hover, .wrap-content.associacao .day:hover {
      background: #ff9900;
      color: #fff; }
    .wrap-content.cooperativa .day.disabled, .wrap-content.associacao .day.disabled {
      background: #ccc;
      color: #fff; }
      .wrap-content.cooperativa .day.disabled:hover, .wrap-content.associacao .day.disabled:hover {
        background: #ccc;
        color: #fff; }
  .wrap-content.cooperativa .idec-comment, .wrap-content.associacao .idec-comment {
    background: #FFECCB; }
  .wrap-content.grupo .title, .wrap-content.grupo h2, .wrap-content.grupo h3, .wrap-content.grupo h4, .wrap-content.grupo .infos {
    color: #013766; }
  .wrap-content.grupo .day {
    color: #FFF;
    background: #013766; }
    .wrap-content.grupo .day:hover {
      background: black;
      color: #fff; }
    .wrap-content.grupo .day.disabled {
      background: #ccc;
      color: #fff; }
      .wrap-content.grupo .day.disabled:hover {
        background: #ccc;
        color: #fff; }
  .wrap-content.grupo .idec-comment {
    background: #CBD8E1; }
  .wrap-content.produtor .title, .wrap-content.produtor h2, .wrap-content.produtor h3, .wrap-content.produtor h4, .wrap-content.produtor .infos {
    color: #8e1e0f; }
  .wrap-content.produtor .day {
    color: black;
    background: #e7341c; }
    .wrap-content.produtor .day:hover {
      background: #8e1e0f;
      color: #fff; }
    .wrap-content.produtor .day.disabled {
      background: #ccc;
      color: #fff; }
      .wrap-content.produtor .day.disabled:hover {
        background: #ccc;
        color: #fff; }
  .wrap-content.produtor .idec-comment {
    background: #EFCCD0; }
  .wrap-content h1 {
    margin: 5px 0;
    font-size: 1.5em;
    font-family: "allerregular", Sans-serif;
    font-weight: bold; }
  .wrap-content h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: -1px; }
  .wrap-content .infos {
    font-size: .9em;
    text-align: center;
    padding: 8px 0; }
  .wrap-content .city-uf {
    margin: 8px 0;
    color: #999;
    display: inline-block; }
  .wrap-content .type-icon {
    float: left; }
  .wrap-content .type-title {
    font-size: 1em; }
  .wrap-content .address {
    color: #444;
    font-size: 1.2em; }
  .wrap-content .item-content {
    float: left;
    width: 85%; }
  .wrap-content .idec-comment {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    font-size: .8em;
    color: #000; }
    .wrap-content .idec-comment .comment_author {
      margin: 8px 0;
      color: #000; }
  .wrap-content .item-links {
    position: relative; }
    .wrap-content .item-links .openoverlay {
      position: relative;
      display: inline-block; }
      .wrap-content .item-links .openoverlay .overlay {
        position: absolute;
        bottom: -80px;
        left: 0;
        width: 180px;
        height: 64px;
        margin: 0;
        background: #fff;
        box-shadow: 0 0 5px #ccc;
        padding: 10px 10px 0 10px;
        z-index: 10000; }
        .wrap-content .item-links .openoverlay .overlay .close {
          position: absolute;
          width: 20px;
          height: 20px;
          display: block;
          top: 0;
          right: 8px; }
  .wrap-content .update-at {
    font-size: .8em;
    text-align: center; }

.hide {
  display: none; }

.form-item {
  /*float: left;*/
  margin-bottom: 10px;
  position: relative; }
  .form-item.form-item-wide {
    width: 100%; }
    .form-item.form-item-wide .radio-item-tipo input {
      display: block;
      margin-top: 5px; }
  .form-item input[type="text"], .form-item input[type="tel"], .form-item input[type="email"] {
    /*line-height: 40px;
    height: 43px;
    border-radius: 8px;
    background-image: url(images/input_bg.png);
    font-family: "allerregular", Sans-serif;
    background-repeat: no-repeat;
    border: none;
    width: 410px;
    padding: 0 10px;*/
     }
  .form-item input[type="text"]#localizacao,
  .form-item input[type="tel"]#localizacao,
  .form-item input[type="email"]#localizacao {
    width: 360px; }
  .form-item textarea {
    background: url(images/textarea_bg.png) no-repeat;
    margin-top: 10px;
    padding: 10px;
    width: 546px;
    height: 58px;
    border: none;
    font-family: "allerregular", Sans-serif; }
  .form-item a.search-address img {
    position: absolute;
    left: 375px;
    top: -5px; }
.idec-form #form-feira {
  margin: 20px 0 0 0; }
.idec-form .block-item {
  display: block;
  margin: 5px 0; }
.idec-form .dias-funcionamento .wpcf7-list-item, .idec-form .periodo-funcionamento .wpcf7-list-item, .idec-form .selos .wpcf7-list-item, .idec-form .produtos_da_sociobio .wpcf7-list-item {
  display: block;
  margin: 5px 0; }
.idec-form #map {
  width: 92%;
  height: 300px;
  background: #edf6f7;
  color: #2b4e7e;
  text-align: center;
  border: 1px solid #50a7ae; }
.idec-form .form-item.hide {
  visibility: hidden; }
.idec-form .space {
  clear: both;
  height: 20px;
  width: 100%; }

  #my-location {
    position: absolute;
    bottom: 90px;
    right: 15px;
    z-index: 9999;
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(images/my-location.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFF;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #999;
    border-radius: 3px;
    background-size: 150%;
    cursor: pointer;
    display: none;
}

  .page.page-template-add-local {
    background: #fff !important; }
    .single .left-side .wrap-content, .page .left-side .wrap-content {
      width: auto !important;
      margin: 0 50px; }

@media (max-width: 960px) {

    .page.page-template-add-local #filters {
      border-top: none; }


  .single #filters > div, .single #top > div {
    width: 100% !important; }
    .single #filters > div .main-logo, .single #filters > div .selects-wrapper, .single #top > div .main-logo .single #top > div .selects-wrapper, .page #filters > div .main-logo, .page #filters > div .selects-wrapper, .page #top > div .main-logo, .page #top > div .selects-wrapper {
      margin-left: 20px; }
  .single .left-side, .page .left-side {
    width: 100%; }


  #filters {
    height: auto; }
    #filters span {
      display: block;
      margin-bottom: 10px; }
    #filters #dofilter {
      margin-left: 0; }

  #top .menu-wrapper {
    position: relative;
    float: left;
    margin-top: 20px; }
    #top .menu-wrapper .menu {
      display: none;
      position: absolute;
      top: 50px;
      left: -50px;
      width: 150px;
      padding: 10px;
      background: #2b4e7e; }
      #top .menu-wrapper .menu li {
        float: none;
        height: auto; }
        #top .menu-wrapper .menu li a {
          height: auto;
          line-height: normal;
          padding: 5px 0;
          display: block; }
    #menu-mobile-trigger {
      float: left;
      display: block !important;
      cursor: pointer;
      width: 24px; }
      #menu-mobile-trigger span.icon-bar {
        width: 24px;
        height: 3px;
        display: block;
        background: #fff;
        margin-bottom: 5px; }

  .form-item {
    display: block;
    float: none;
    }
    .form-item .item-option {
      font-size: 1em;
      margin-bottom: 20px; }
      .form-item .item-option img {
        display: none; }
      .form-item .item-option input {
        float: left; }

  .col2 {
    float: none;
    margin: 0 auto;
    width: 95%; }
    .col2.col-last {
      margin: 30px auto 0 auto;
      width: 95%; }
      .col2.col-last img {
        width: 100%;
        height: auto; }
}

body.handheld #my-location {
  bottom: 120px;
  width: 35px;
  height: 35px;
  background-size: contain; }
body.handheld #ratingSelectBoxItContainer * {
  font-family: "allerregular", Sans-serif; }

@media (max-width: 1280px) {
  #top, #filters {
    position: relative !important;
    float: none;
    width: 100%; }

  #top .main-logo, #filters .selects-wrapper {
    margin-left: 20px; }

  .contents {
    /*padding-top: 77px;*/
  }
  #item-ajax-content {
    padding-top: 0;
  }
  .contents .add-item-page {
    /*width: 90%; */
  }
  .contents, .left-side {
    width: 100%; }

  .page #top > div, .single #top > div {
    margin: 0 auto !important;
    width: 960px; }

  .single .left-side .wrap-content, .page .left-side .wrap-content {
    margin: 50px auto !important;
    padding: 0 20px !important;
    width: 960px; }

  .page .left-side .wrap-content {
    margin-top: 50px !important; }

  .page.page-template-default .left-side .wrap-content {
    padding-top: 50px !important;
    margin-top: 20px !important; }

}
#main_map img {
  max-width: none !important; }

// Search autocomplete:
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background: white;
    padding: 0px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #999;
    -moz-box-shadow:    3px 3px 4px 4px #999;
    -webkit-box-shadow: 3px 3px 4px 4px #999;
    box-shadow:         3px 3px 4px 4px #999;
    box-sizing: border-box;
    display: inline-block;
}
.ui-menu {
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0;
	display: block;
	outline: none;
	z-index: 20000;
	max-height: 250px;
	overflow-y: auto;
	max-width: 300px;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	/*position: relative;
	margin: 0;*/
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	/*list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");*/
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	/*margin: -1px;*/
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}

/* Component containers
----------------------------------*/
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
/*	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;*/
}
.ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #fff;
	text-decoration: none;
}
.ui-menu .ui-menu-item a {
    text-decoration: none;
}
.m-item.ui-state-hover,
.ui-widget-content .m-item.ui-state-hover,
.ui-widget-header .m-item.ui-state-hover,
.m-item.ui-state-focus,
.ui-widget-content .m-item.ui-state-focus,
.ui-widget-header .m-item.ui-state-focus {
	/*background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	color: #c77405;*/
	background-color: #1c94c4;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	/*color: #c77405;
	text-decoration: none;*/
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #fbd850;
	background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}
.ui-autocomplete-loading {

}
.m-header {
    background-color: #7bcbbc;
    font-weight: bold;
}
.s-header {
    font-weight: bold;
    margin-top: 10px;
}
.m-label, .s-label {
}
.m-sublabel, .s-sublabel {
    display:block;
    font-style: italic;
}
.m-label-count, .s-label-count {
    font-style: italic;
    color: #204a87;
    font-size: 90%;
    margin-left: 1%;
}
.m-label-name, .s-label-name {
    width:88%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    display: block;
    float:left;
}
li.m-item {
    /*border-bottom: 1px #e9b96e solid;*/
}
li.s-item {
    /*border-bottom: 1px #333 solid;*/
}
.ui-state-highlight {
    /*text-decoration: underline;
    color: #400;*/
}
/*# sourceMappingURL=style.css.map */


.contents-receita, .contents-biblioteca {
    display: table-row;
    height: 100%;
}
.contents-receita .contents-inside, .contents-biblioteca .contents-inside {
    padding: 0 50px;
    display: table-cell;
    height: 100%;
    vertical-align: top;
}
#biblioteca-search-results {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    border-collapse: collapse;
    border-spacing: 0;
}
#biblioteca-search-results th, #biblioteca-search-results td, #biblioteca-search-results a {
    font-size: 18px;
}
#biblioteca-search-results th {
    background-color: #F08B24;
    color: #fff;
}
#biblioteca-search-results th, #biblioteca-search-results td {
    padding: 0.75em 8px;
    text-align: left;
    vertical-align: top;
}
#biblioteca-search-results td {
    border-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: -0.0625em;
    padding-top: 1.5em;
}
#biblioteca-search-results a:link {
    text-decoration: none;
    color: #6BAF51;
}
#biblioteca-search-results a:hover {
    text-decoration: underline;
}
#biblioteca-search-results .image {
    height: 4.5em;
    width: auto;
    float: left;
    display: block;
    margin: 0 0.75em 0.75em 0;
}
#biblioteca-search-results .item img {
    margin: 0;
    height: 100%;
    width: auto;
    float: left;
    border: 0;
}
/*#biblioteca-search-container {
    padding: 0;
    margin-right: 0;
    display: inline;
    padding-right: 8.475%;
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 18px;
}*/
/*#search-form {
    text-align: center;
    position: relative;
    overflow: visible;
    font-size: 18px;
}
#search-form input[type="text"], #search-form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    margin: 0;
    height: 30px;
}
#search-form input[type="text"] {
    width: 250px;
    font-size: 0.875em;
    line-height: 1.5em;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 0 8px;
}
#search-form button {
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F08B24;
    display: inline-block;
    margin: 0;
    color: #fff;
    cursor: pointer;
}*/
.biblioteca-selector {
    float:left;
    font-size: 16px;
    margin-right: 10px;
    height: 30px;
}
.pagination {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 1.5em;
    list-style: none;
    margin: 0 auto;
}
.pagination, .pagination li {
    font-size: 28px;
}
.pagination li {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.pagination input[type="text"] {
    background-color: #fff;
    border: 1px solid #f1ffba;
    width: 0.8em;
    height: 1.5em;
    text-align: right;
    margin-right: 5px;
    padding: 0 14px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    line-height: normal;
}
.pagination a:link, .pagination a:visited {
    color: #f1ffba;
}
.pagination_previous a, .pagination_next a {
    background-color: #92ba56;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
.biblioteca-description {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}
.contents-biblioteca .label {
    font-weight: bold;
}
.biblioteca-date, .biblioteca-source, .biblioteca-description, .biblioteca-download {
    padding-left: 230px;
}
.biblioteca-date, .biblioteca-source {
    font-size: 14px;
    margin-bottom: 10px;
}
.biblioteca-download, .biblioteca-download h2 {
    font-size: 18px;
    margin: 20px 0 0 5px;
}
.biblioteca-download .value {
    margin-left: 40px;
    margin-bottom: 5px;
}
h1.biblioteca-item-title {
    color: #006;
    margin-bottom: 30px;
}
.biblioteca-item-image {
    float: left;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 10px;
}
#biblioteca-search-results .item-category {
    font-size: 14px;
    display: block;
}
#biblioteca-search-results .item-category a, #biblioteca-search-results .item-category a:hover {
    color: #1e4070;
    font-size: 14px;
}
/* location stats */
.locations_stats {
    padding-top: 10px;
}
.locations_stats-header {
    text-align:center;
    text-transform: uppercase;
    margin: 0;
}
.locations_stats-header.lowcase {
    text-transform: none;
    font-size: 1.2em;
}
.locations_stats-header.global {
    margin-top: 20px;
}
.locations_stats-subheader {
    text-align:center;
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
}
.locations_stats-body {
    margin-top: 5px;
    padding: 0;
}
.locations_stats-body ul li {
    list-style: none;
}
.locations_stats-value {
    float: right;
}
#sidebarLoading {
    display: none;
    text-align: center;
    padding: 20px;
}

/* comment list */

ol.comment-list {
    list-style: none;
}
