/*!
 Theme Name:   IDEC Feiras Orgânicas
 Author:       Leo BR
 Author URI:   http://leobr.com
 */

@import "fonts/stylesheet.css";

// ----------Cores---------
$primary-color: #2b4e7e;
$secondary-color: #cde76c;
$super-light-blue: #edf6f7;
$light-blue: #50a7ae;
$emphasis-blue: #1e4070;
$sidebar-bg:#eeeeee;

$feira-color: #50a7ae;
$feira-color-light: #C7E5E7;
$cooperativa-color: #ff9900;
$cooperativa-color-light: #FFECCB;
$grupo-color: #013766;
$grupo-color-light:#CBD8E1;
$produtor-color: #8e1e0f;
$produtor-color-light: #EFCCD0;

$default-font: "allerregular", Sans-serif;
$default-text-color: #000;

$default-font-bold: "allerbold";
$default-font-light: "allerlight";

$social-font: "Social Icons";

html { min-height: 100% }
body { min-height: 100%; margin: 0; padding: 0 }

html, body {
	// overflow-x: hidden;
	font-family:$default-font;
	color:$default-text-color;
}
#map_canvas { height: 100% }

.inner { padding: 10px; }

img {
	max-width:100%;
	height:auto;
}
a {
	color:$emphasis-blue;
	&:hover {
		color:$secondary-color;
	}
}
b, strong {
	font-weight:normal;
	font-family:$default-font-bold;
}
.small, small {
	font-size:.8em;
}
.text-center {
	text-align:center;
}
.type_info {
	color:$light-blue;
}

.fleft {  float: left; }

.fright {  float: right; }

.clear {  clear: both; }

h1 {
	color:#000;
	font-size:1.5em;
	@extend strong;
}
#filters {
	position: fixed;
	bottom: 0;
	left: 0; 
	height: 100px;
	background: url(images/footer_bg2.png) repeat-x #FFF;
	z-index:100;
	#dofilter {
		background:url(images/btn_filtrar.png) no-repeat;
		width: 83px;
		height: 46px;
		text-indent: -999px;
		overflow:hidden;
		display: inline-block;
		margin-left: 10px;
	}
	.selects-wrapper{
		margin-left: 150px;
		// width: 70%;
		margin-top: 30px;
		float: left;
		.selectboxit-container {
			margin-right: 10px;
		}
	}
	.idec_logo {
		margin-top:20px;
		margin-right: 15px;
		float: right;
	}
}


//SELECT BOX IT
/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */

/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/

/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  // font: 14px Helvetica, Arial;
  font-family: $default-font;
  font-size: .95em;
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 220px; /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  display: block;
  position: relative;
}
span#tipoSelectBoxIt {
	width:135px;
}
span#diasSelectBoxIt {
	width:200px;
}
span#periodoSelectBoxIt {
	width:100px;
}
span#ratingSelectBoxItContainer {
	width:120px;
}
ul#tipoSelectBoxItOptions {
	width:400px;
}
.selectboxit .selectboxit-option-icon-container { margin-left:0!important; }
/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 30px; /* Height of the drop down */
  line-height: 30px; /* Vertically positions the drop down text */
  display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Button Text */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  border-radius: 6px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Individual options */
 .selectboxit-option .selectboxit-option-anchor{
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px; /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left;
}

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  padding: 5px 0!important;
  text-shadow: 1px 1px 0 #fff;
  border: 1px solid #dadada;
  background: rgb(246,246,246);
  background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(246,246,246,1) 0%,rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed',GradientType=0 );
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.9);

}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
  color: #333333;
  background-color: #000;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  color: #333333;
  text-decoration: none;
}

.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.selectboxit-list {
  background-color: rgba(237,237,237,1);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selectboxit-list .selectboxit-option-anchor {
  color: #333333;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: #ffffff;
  background-color: $primary-color;
}

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999;
}

#ratingSelectBoxIt {
	width:130px;
}
#ratingSelectBoxItContainer * {
	font-family: "Glyphicons Halflings";
}
//END SELECT BOX IT
#video-overlay {
	position:absolute;
	bottom:150px;
	left:30px;
	a.close img {
		position: absolute;
		top: -15px;
		right: 5px;
	}
}
#ajax_search {
	position:absolute;
	top: 100px;
	left:50%;
	margin-left:-415px;
	text-align:center;
	width:529px;
	height:56px;
	background:url(images/search_bg.png) no-repeat;
	background-position: 0 5px;
	cursor:move;
	#ajax_search_value {
		background: none transparent;
		width:400px;
		height:40px;
		border:none;
		float: left;
		margin: 6px 5px 0 15px;
		font-family: $default-font;
		font-size: 1em;
		color: $default-text-color;
	}
	#dosearch {
		background:url(images/btn_search.png) no-repeat;
		width: 58px;
		height: 56px;
		display: inline-block;
		float:left;
		text-indent: -999px;
		overflow:hidden;
		margin-left: 45px;
	}
}
#top {
	position:fixed;
	background:url(images/header_bg.png) repeat-x;
	height:77px;
	top:0;
	left:0;
	z-index:100;
	.main-logo {
		float: left;
		margin-top: 5px;
		margin-left: 90px;
		margin-right: 20px;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			a {
				height: 77px;
				line-height: 70px;
				color: #FFF;
				padding: 0 10px;
				text-decoration: none;
				font-family: $default-font;
				font-size: .9em;
				@extend strong;
				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
	.add_new_item {
		margin:0 30px;
	}
	.share {
		margin-top:20px;
		display: inline;
		float: right;
		height: 34px;
		margin-right: 15px;
		.share_mail {
			margin-left: 10px;
			height: 34px;
		}
		#shareit {
			height: 34px;
			margin-left: 10px;
			display: inline;
			position:relative;
		}
		.social-media {
			top: 20px;
			position: absolute;
			right: 0;
			width: 80px;
			padding:5px;
			background: #fff;
			box-shadow:1px 1px 3px #666;
			display: none;
			z-index: 1000;
			
		}
	}
}
.social-media {
	text-align: center;
	a {
		font-family: $social-font;
		text-decoration: none;
		font-size: 40px;
		&.facebook { color: #425F9C; }
		&.twitter { color: #52A6E6; }
	}
}
#sidebar {
	width:25%;
	position:fixed;
	right:0;
	top:0;
	height:100%;
	min-height:100%;
	background: $sidebar-bg;
	color:#666;
	// border-left:1px solid #fff;
	z-index:1000;
	&:before {
		content: "";
		height: 100%;
		width: 1px;
		background: #FFF;
		position: absolute;
		top: 0;
		left: -1px;
		display: block;
		box-shadow:2px 0 6px #666;
	}
	&:after {
		content: "";
		height: 100%;
		width: 1px;
		background: #bfbfbf;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
	#scrollbar { 

		border-right: 1px solid #bfbfbf;
		box-sizing: border-box;
		padding:0 20px 0 0;

	
	}
	.viewport { width: 92%; height: 200px; overflow: hidden; position: relative; }
	.overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; }
	.thumb .end, .thumb { background-color: #003D5D; }
	.scrollbar { position: relative; float: right; width: 5px;  margin-top: 16px;}
	.track, .thumb { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	.track { background: #eee; background: rgba( 0,0,0,0.05 ); height: 100%; width: 5px; position: relative; }
	.thumb { background: rgba( 60,60,60,0.2 ); height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
	// .disable { display: none; }
	.disable .track,
	.disable .thumb { background: #fff; }
	.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

	#itens_list {
		list-style: none;
		margin:0;
		padding:0;
		width: 100%;
		li {
			width: 100%;
			display: block;
			border-bottom: 1px solid #bfbfbf;
			-webkit-box-shadow: 0 1px 1px #dcdcdc;
			-moz-box-shadow: 0 1px 1px #dcdcdc;
			box-shadow: 0 1px 1px #dcdcdc;
			padding: 19px 20px;
			position: relative;
			box-sizing:border-box;
			
			a {

				text-decoration: none;
				&:hover {
					h2 {
						color: $emphasis-blue!important;
					}
				}
			}
			h2 {
				color: #000;
				font-size: .9em;
				margin-top: 5px;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.city-uf {
				font-size: .7em;
				color: #000;
				margin: 3px 0;
				font-family: $default-font-light;
			}
		}
	}
	#sidebar_control {
		position:absolute;
		left: -38px;
		width: 37px;
		background:url(images/lista_de_locais.png);
		height: 146px;
		text-indent: -9999px;
		overflow:hidden;
		top: 40%;
		&.reverse {
			background:url(images/lista_de_locais_invertido.png);
		}
	}

	.top {
		@extend #top;
		position:relative;
		background:url(images/header_sidebar_bg.png) repeat-x;

		text-align:center;
		line-height: 77px;
		font-size:1.5em;
		color:#FFF;
		font-family:$default-font-light;
	}
}

.type-icon {
	width: 36px;
	height: 80px;
	background-repeat:no-repeat;
	background-image:url(images/icones_tipos.png);
	float: left;
	margin-right: 15px;
	&.feira { background-position: 0 0; }
	&.cooperativa, &.associacao { background-position: -36px  0; }
	&.grupo { background-position:-72px 0; }
	&.produtor { background-position:-108px 0; }
}

.cluster {
	background:rgba(255,255,255,.8);
	border:2px solid $primary-color;
	color: $primary-color;
	padding:10px;
	display: block;
	border-radius: 100%;
	text-align: center;
	font-family:$default-font-bold;
	font-size:1.2em;
	// cursor:pointer;
    cursor:zoom-in;
	&:before {
		content: "";
		background:url(images/pin.png);
		width: 25px;
		height: 35px;
		display: block;
		margin: 0 auto 5px auto;
	}
	&.cluster-1 {
		width: 50px;
		height: 50px;
		margin:-25px 0 0 -25px;
	}
	&.cluster-2 {
		width: 70px;
		height: 70px;
		margin:-35px 0 0 -35px;
		&:before {
			margin-top: 10px;
		}
	}
	&.cluster-3 {
		width: 100px;
		height: 100px;
		margin:-50px 0 0 -50px;
		&:before {
			margin-top: 20px;
		}
	}
	&.cluster-4 {
		width: 120px;
		height: 120px;
		margin:-60px 0 0 -60px;
		&:before {
			margin-top: 25px;
		}
	}
}

.idec_outer_marker_infos {

	-webkit-box-shadow: 0 0 20px 0 rgba(150,150,150,.8);
	box-shadow: 0 0 20px 0 rgba(150,150,150,.8);

}
.idec_marker_infos {
	// width:240
	width: 300px;
	padding-top:10px;
	border:1px solid #eee;
	border-bottom:none;
	height: 170px;
	background:url(images/map_overlay_bg.png);
	text-align: center;
	display: none;
	position:relative;
	font-size:1.2em;
	-webkit-box-shadow:inset 0 0 50px 0 rgba(150,150,150,.5);
	box-shadow:inset 0 0 50px 0 rgba(150,150,150,.5);
	h1 {
		font-size: 1.3em;
		margin: 15px 0;
		padding-bottom:10px;
		border-bottom:1px solid $super-light-blue;
	}
	.address {
		padding-top:10px;
		display: block;
	}
	.city-uf {
		font-size: .85em;
		display: block;
	}
	.route {
		padding-top:10px;
		font-size: .85em;
		@extend strong;
		display: block;
	}
	.map_overlay_footer {
		// width: 242px;
		width: 302px;
		height:43px;
		position:absolute;
		bottom:-43px;
		left:-1px;
		background:url(images/map_overlay_footer2.png);
		.more {
			float: left;
			width: 40%;
			display: block;
			color: #FFF;
			line-height: 33px;
			font-family: $default-font-bold;
			text-align: center;
			text-decoration: none;
			&:hover {
				text-decoration:underline;
			}
			&:before {
				content: "";
				width: 2px;
				height: 33px;
				background:$primary-color;
				display: block;
				float: left;
			}
		}
		.idec_rating {
			padding-top:8px;
			text-align: center;
			float: left;
			width: 60%;
			display: block;
		}
	}
}


// .rating {
// 	font-family: 'Glyphicons Halflings'!important;
	
// }
// #rating {
// 	option {
// 		font-family: 'Glyphicons Halflings'!important;
// 	}
// }

.star-result, .no-rating-results-text, .rating-form h4 {
	display:none!important;
}
.fa {
	margin:0 2px;
}
.left-side {
	width:75%;
}
.page {
	&.page-template-default {
		.left-side .wrap-content {
			position:relative;
			margin-top:0;
			padding-top: 60px;
			.idec_logo {
				width: 90px;
				height: 75px;
				position:absolute;
				top: 20px;
				right: 0;
				background-image:url(images/idec_logo.png);
				background-position:top right;
				background-repeat:no-repeat;
				display: block;
				// padding-top: 50px;
				// margin-top: 20px;
			}
		}
	}
	#filters > div, #top > div  {

		width: 960px;
		margin: 0 auto;

		.main-logo, .selects-wrapper {
			margin-left: 0;
		}
	}
	.left-side {
		width: 100%;

		.wrap-content {

			width: 960px;
			margin: 50px auto 0 auto;

			h1 {
				font-size: 1.9em;
				font-weight: normal;
				color:$primary-color;
			}

			h2 {
				letter-spacing: normal;
				font-size: -0.5px;
				font-size: 1.3em;
				margin-bottom: 15px;
				color:darken($secondary-color, 30%);
				// margin-top: 40px;
				margin-top: 20px;
			}

			p {
				line-height: 1.3em;
				font-size: 1.2em;
				margin-bottom: 20px;
				text-align: justify;
			}

		}
	}
}

#idec-comment-form, #form-erro {
	display:none;
	width:566px;
	height:330px;
	h1 {
		font-size: 1.6em;
		font-family: $default-font;
		font-weight: normal;
	}
	label {
		display: none;
	}
	div#respond {
		padding-bottom:60px;
		position:relative;
	}
	p.comment-form-url.comment-form-attachment {
		position:absolute;
		bottom:-20px;
		left: 0;
	}
	p.form-submit {
		position: absolute;
		bottom: 0;
		right: 0;
		#submit {
			width: 194px;
			height: 46px;
			background:url(images/btn_enviar_comentario.png);
			text-indent: -9999px;
		}
	}
	.comment-notes {
		font-size: .8em;
		margin-bottom: 5px;
	}
	input[type="text"],
	input[type="email"] {
		background:url(images/input_bg_2.png);
		display: block;
		width: 546px;
		border:none;
		height: 38px;
		font-family: $default-font;
		margin-top: 10px; 
		padding:3px 10px;
	}
	textarea {
		background:url(images/textarea_bg.png) no-repeat;
		margin-top: 10px; 
		padding:10px;
		width: 546px;
		height: 58px;
		border:none;
		font-family: $default-font;
	}
	// #attachment::-webkit-file-upload-button {
	//   visibility: hidden;
	// }
	// #attachment::before {
	//   // content: 'Select some files';
	//   content: '';
	//   display: inline-block;
	//   // background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	//   // border: 1px solid #999;
	//   // border-radius: 3px;
	//   // padding: 5px 8px;
	//   // outline: none;
	//   // white-space: nowrap;
	//   // -webkit-user-select: none;
	//   // cursor: pointer;
	//   // text-shadow: 1px 1px #fff;
	//   // font-weight: 700;
	//   // font-size: 10pt;
	//   background:url(images/btn_enviar_foto.png);
	//   width: 133px;
	//   height: 46px;
	// }

	#attachment::-webkit-file-upload-button {
	  visibility: hidden;
	}
	#attachment::before {
	  // content: '';
	  // display: inline-block;
	  // background:url(images/btn_enviar_foto.png);
	  // width: 133px;
	  // height: 46px;

	  content: attr(data-value);
	  display: inline-block;
	  background-image: url(images/btn_enviar_foto.png);
	  background-repeat: no-repeat;
	  background-color:#fff;
	  padding-left: 145px;
	  padding-top:13px;
	  font-family: $default-font;
	  color: #555;
	  width: 233px;
	  height: 33px;

	}
	p.ajax-error, 
	p.ajax-success {
		font-size: .9em;
		padding: 8px 0; 
	}
	p.ajax-error { color: red; } 
	p.ajax-success { color: green; }
}


#form-erro {
	display:block;
	width:auto;
	height:auto;
	.wpcf7-submit {
		background:url(images/btn_bg.png);
		height: 46px;
		width: 83px;
		text-align: center;
		border:none;
		line-height: 1rem;
		&:hover {
			text-shadow: 0;

		}
	}
}
.fancybox-skin {
	background:#fff;
}
.fancybox-close {
	background:url(images/icon_fechar.png);
	width:37px;
	height:37px;
	top:5px;
	right:5px;
}
.rating-form {
	form {

		margin-top:0!important;
	}
	.save-rating {
		float: left;
		font-size: .8em;
		padding: 2px 5px;
		margin-top: 4px;
	}
	p {
		float: left;
		padding-top: 6px;
		padding-right: 10px;
	}
}
.col2 {
	float:left;
	// width:54%;
	width:450px;
	// margin-right:1%;
	margin-top:30px;
	&.col-last {
		width: 330px;
		// width: 45%;
		margin-top: 0;
		margin-right: 0;
	}
}

.btn, input[type="submit"], input[type="button"]{
	border-radius:3px;
	padding:5px 12px;
	border:darken( $primary-color, 10% );
	background: $primary-color;
	color:#fff;
	@extend strong;
	cursor:pointer;
	&:hover {
		background: $primary-color;
		box-shadow: 0px 0px 3px #000;
	}
}

//SINGLE ITEM

.contents {
	padding-top: 77px;
	padding-bottom: 150px;
	width:75%;

	.opening_days {
		position:relative;
		height: 50px;
		margin-bottom: 20px;
		br {
			display: none;
		}
		.day {
			display: inline-block;
			background:#666;
			color: #fff;
			height: 20px;
			padding:5px 10px;
			line-height: 20px;
			cursor: pointer;
			&:hover{
				background:#000;
			} 

		}
		.day-infos {
			position:absolute;
			display: none;
			bottom:0;
			left:0;
			height: 10px;
			line-height: 10px;
			font-size: .8em;
		}
	}
	.image {
		.image-slide {
			width:100%; height:180px; 
			background-size:cover;
			background-repeat:no-repeat;
			background-position: 50% 50%;
		}
	}

	.seasons {
		.tabs {
			> div {
				width: 25%;
				height: 70px;
				border:1px solid #eee;
				text-align:center;
				color: $primary-color;
				font-size: 0.9em;
				padding: 0 5px;
				box-sizing:border-box;
				float: left;
				cursor: pointer;
				.s-icon {
					background-image:url(images/icon_seasons.png);
					background-repeat:no-repeat;
					height: 50px;
					width: 60px;
					display: block;
					margin: 0 auto;

				}
				&.spring {
					.s-icon {
						background-position:0 0;
						&:hover, &.selected {
							background-position:0 -50px;
						}
					}
				}
				&.summer {
					.s-icon {

						background-position:-60px 0;
						&:hover, &.selected {
							background-position:-60px -50px;
						}
					}
				}
				&.autumn {
					.s-icon {
						background-position:-120px 0;
						&:hover, &.selected {
							background-position:-120px -50px;
						}
					}
				}
				&.winter {
					.s-icon {
						background-position:-180px 0;
						&:hover, &.selected {
							background-position:-180px -50px;
						}
					}
				}
			}
		}
		.contents {
			width: 100%;
			padding:20px 0 0 0;
			table {
				width: 100%;
				tr {
					border-bottom:1px solid #eee;
					border-right:1px solid #eee;
					&:nth-child(even) {
						background:#f1f1f1;
					}
					td {
						border-top:1px solid #eee;
						border-left:1px solid #eee;
						padding:10px;
						text-align: center;
					}
				}

			}
		}
	}

	.page-item {
		float:left;
	}
	.add-item-page {
		width: 95%;
		float: left;
		margin-left: 1%;
		font-size: 15px;
		padding-bottom:150px;
		position:relative;
		h1 {
			font-size: 1.9em;
			font-weight: normal;
			color:#2a2a2a;
		}

		h2 {
			letter-spacing: normal;
			font-size: -0.5px;
			font-size: 1.3em;
			margin-bottom: 15px;
			color:#2a2a2a;
		}

		#filters {
			position:absolute;
			bottom:0;
			left:0;
			width: 100%;
			background:none;
			span {
				color: #ccc;
				line-height: 43px;
			}
			.wpcf7-form-control.wpcf7-submit.btn {
				width: 158px;
				height: 46px;
				border:none;
				text-indent: -9999px;
				background:url(images/btn_enviar_local.png);
			}
		}

	}
}
.page.page-template-clear {
	.contents {
		padding:0;
		.wrap-content {
			margin: 0!important; 
		}
	}
}
.page.page-template-add-local {
	.contents {
		padding-bottom:0;
	}
	height:auto;
	overflow:auto;
	background-position:center bottom;
	background-repeat:repeat-x;
	background-image: url(images/footer_bg2.png);
}

#idec-comments-list {
	display: none;
	width: 400px;
	ul {

		list-style: none;
		li {
			margin: 10px 0;
			padding: 10px 0;
			border-bottom: 1px solid #666;
			.commentmetadata {
				font-size: .8em;
				margin: 8px 0;
			}
			.reply {
				text-align: right;
				.comment-reply-link {
					@extend .btn;
					text-decoration: none;
					font-size: .8em;
				}
			}
		}
	}
}

.comments {
	a.prev, a.next {
		font-size: 1.2em;
		color: #666;
		text-decoration: none;
		position:absolute;
		top: 65%;
		left:5px;
		z-index: 1000;
	}
	a.next {
		left:auto;
		right: 5px;
	}
}


@mixin day($color) {


	.day {
		color: darken($color, 50%);
		background: lighten($color, 20%);
		&:hover {
			background:$color;
			color: #fff;
		}
		&.disabled {
			background: #ccc;
			color: #fff;
			// background: lighten($color, 40%);
			&:hover {
				background: #ccc;
				color: #fff;
				// color: darken($color, 20%);
				// background: lighten($color, 40%);
			}
		}
	}

}


.wrap-content {
	margin-left:90px;
	margin-right:50px;
	font-size:.8em;
	.infos {
		color: #666;
	}
	&.feira {
		.title, h2, h3, h4 {
			color: $feira-color;
		}
		@include day($feira-color);
		.idec-comment {
			background: $feira-color-light;
		}
	}
	&.cooperativa, &.associacao {
		.title, h2, h3, h4, .infos {
			 color: $cooperativa-color;
		}
		@include day($cooperativa-color);
		.idec-comment {
			background: $cooperativa-color-light;
		}
	}
	&.grupo {
		.title, h2, h3, h4, .infos {
			color: $grupo-color; 
		}
		
		.day {
			color: #FFF;
			background: $grupo-color;
			&:hover {
				background:darken($grupo-color, 30%);
				color: #fff;
			}
			&.disabled {
				background: #ccc;
				color: #fff; 
				// background: $grupo-color-light;
				&:hover {
					background: #ccc;
					color: #fff; 
					// color: darken($grupo-color, 20%);
					// background: lighten($grupo-color-light, 10%);
				}
			}
		}


		.idec-comment {
			background: $grupo-color-light;
		}
	}
	&.produtor {
		.title, h2, h3, h4, .infos {
			color: $produtor-color; 
		}
		@include day($produtor-color);
		.idec-comment {
			background: $produtor-color-light;
		}

	}

	h1 {
		margin: 5px 0;	
		font-size: 1.5em;
		font-family: $default-font;
		font-weight: bold;
	}
	h2 {
		margin-top:15px;
		margin-bottom: 5px;
		font-weight: normal;
		font-size: 1.3em;
		letter-spacing: -1px;
	}
	.infos {
		font-size: .9em;
		text-align: center;
		padding:8px 0;
	}

	.city-uf {
		margin: 8px 0;
		color: #999;
		display: inline-block;
	}
	.type-icon { 
		float:left;
	}
	.type-title {
		font-size: 1em;

	}
	.address {
		color: #444;
		font-size: 1.2em;
		// font-size: 
	}
	.item-content { 
		float:left;
		width:85%;
	}
	.idec-comment {
		padding: 20px;
		box-sizing:border-box;
		width: 100%;
		border-radius: 10px;
		margin: 20px 0;
		font-size: .8em;
		color: #000;
		.comment_author {
			margin: 8px 0;
			color: $default-text-color;
		}
	}
	.item-links {
		position:relative;
		.openoverlay {
			position: relative;
			display: inline-block; 
			.overlay {
				position: absolute;
				bottom: -80px;
				left: 0;
				width: 180px;
				height: 64px;
				margin: 0;
				background: #fff;
				box-shadow: 0 0 5px #ccc;
				padding: 10px 10px 0 10px;
				z-index: 10000;
				.close {
					position: absolute;
					width: 20px;
					height: 20px;
					display: block;
					top: 0;
					right: 8px; 
				}
			}
		}
		// #sharediv{
		// 	position: absolute;
		// 	bottom: -80px;
		// 	left: 50%;
		// 	width: 180px;
		// 	margin: 0 0 0 -125px;
		// 	background: #fff;
		// 	box-shadow: 0 0 5px #ccc;
		// 	padding: 10px 10px 0 10px;
		// 	z-index: 10000;
		// 	.fecharshare {
		// 		position:absolute;
		// 		width: 20px;
		// 		height: 20px;
		// 		display: block;
		// 		top: 0;
		// 		right: 8px;
		// 	}
		// }
	}
	.update-at {
		font-size: .8em;
		text-align: center;
	}

}

//END SINGLE ITEM



//form
.hide {
	display:none ;
}

.form-item {

	// width:45%;
	width:50%;
	float:left;
	margin-bottom:10px;
	position:relative;
	&.form-item-wide {
		width: 100%;
		.radio-item-tipo input{
			display: block;
			margin-top: 5px;
		}
	}
	input[type="text"], input[type="tel"], input[type="email"]   {
		line-height: 40px;
		height: 43px;
		border-radius:8px;
		background-image:url(images/input_bg.png);
		font-family: $default-font;
		background-repeat:no-repeat;
		border:none;
		width: 410px;
		padding:0 10px;
	}
	input[type="text"]#localizacao, 
	input[type="tel"]#localizacao, 
	input[type="email"]#localizacao {
      width: 360px;
	}
	textarea {
		background:url(images/textarea_bg.png) no-repeat;
		margin-top: 10px; 
		padding:10px;
		width: 546px;
		height: 58px;
		border:none;
		font-family: $default-font;
	}

	.wpcf7-form-control.wpcf7-file::-webkit-file-upload-button {
	  visibility: hidden;
	}
	.wpcf7-form-control.wpcf7-file::before {
	  // content: '';
	  // display: inline-block;
	  // background:url(images/btn_enviar_foto.png);
	  // width: 133px;
	  // height: 46px;

	  content: attr(data-value);
	  display: inline-block;
	  background-image: url(images/btn_enviar_foto.png);
	  background-repeat: no-repeat;
	  background-color:#fff;
	  padding-left: 145px;
	  padding-top:13px;
	  font-family: $default-font;
	  color: #555;
	  width: 233px;
	  height: 33px;

	}
	a.search-address img {
		position: absolute;
		left: 375px;
		top: -5px;
	}
	.day_options {
		padding: 10px;
		background: #C7E5E7;
		margin: 0 15px 20px 0;
		border-radius: 8px;
    }


}
.idec-form {
	#form-feira {
		margin: 20px 0 0 0 ; 
	}
	label {
		// @extend strong;
		margin: 8px 0 5px 0;  
	}
	.block-item {
		display: block;
		margin: 5px 0;
	}
	.dias-funcionamento, .periodo-funcionamento {
		.wpcf7-list-item {
			display: block;
			margin: 5px 0;
		}
	}
	#map {
		width: 92%;
		height: 300px;
		background:$super-light-blue;
		color: $primary-color;
		text-align: center;
		border:1px solid $light-blue;
	}

	.form-item.hide { visibility:hidden; }
	.space {
		clear: both;
		height: 20px;
		width: 100%;
	}
	
}
//end form


#item-ajax-content {
	display:none;
	// width:75%;
	min-height:calc(100% - #{177px});
	position:absolute;
	// top: 77px;
	top: 0;
	background:#FFF;

	//z-index:10000;
	
	#closeit {
		position:absolute;
		top: 85px;
		right: 10px;
	}
}

#main_map_container {
	width:75%;
	height:calc(100% - #{177px});
	margin-top:77px;
	position:fixed;
	#main_map {
		width: 100%;
		height: 100%;
	}
	#my-location {
		position: absolute;
		bottom: 60px;
		right: 6px;
		z-index: 9999;
		width: 16px;
		height: 16px;
		display: block;
		background-image: url(images/my-location.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #FFF;
		box-shadow: 0 0 5px #ccc;
		border: 1px solid #999;
		border-radius: 3px;
		background-size: 150%;
		cursor: pointer;

	}

}
@media (max-width:960px) {

	#ajax_search {
		left:0;
		margin-left:20px;
		width:300px;
		#ajax_search_value {
			width:200px;
		}
		#dosearch {
			margin-left:20px;
		}
	}
	body {
		min-width: 460px;
	}
	#filters {
		border-top:1px solid $primary-color;
		background:none!important;
	}
	.page.page-template-add-local {
		background:#fff!important;
		#filters {
			border-top:none;
		}
	}
	
	.single, .page {
		#filters > div, #top > div  {

			width: 100%!important;


			.main-logo, .selects-wrapper {
			margin-left: 20px;
			}

		}
		.left-side {
			width: 100%;
			.wrap-content {
				width: auto!important;
				margin: 0 50px;
			}
		}
	}
	
	#filters {
		height: auto;
		span {
			display: block;
			margin-bottom: 10px;
		}
		#dofilter {
			margin-left: 0;
		}
	}
	#top .menu-wrapper {

		position: relative;
		float: left;
		margin-top: 20px;
		
		.menu {
			display: none;
			position:absolute;
			top: 50px;
			left: -50px;
			width: 150px;
			padding:10px;
			background:$primary-color;
			li {
				float: none;
				height: auto;
				a {
					height: auto;
					line-height: normal;
					padding:5px 0;
					display: block;
				}
			}
		}

		#menu-mobile-trigger {

			float: left;
			display: block !important;
			cursor: pointer;
			width: 24px;

			span.icon-bar {

				width: 24px;
				height: 3px;
				display: block;
				background: #fff;
				margin-bottom: 5px;

			}

		}
	}
	.form-item {
		display: block;
		float: none;
		width: 372px;
		.item-option {
			font-size: 1em;
			margin-bottom: 20px; 
			img {
				display: none;
			}
			input {
				float: left;
			}
		}
	}
	.form-item a.search-address img {
		left:300px;
		// right: -40px;
		// right: 0;
	}
	
	.col2 {
		float: none;
		margin: 0 auto;
		width: 95%;
		&.col-last {
			margin: 30px auto 0 auto;
			width: 95%;

			img {
				width: 100%;
				height: auto;
			}

		}
	}
}

body.handheld {

	#main_map_container #my-location {
		bottom: 120px;
		width: 35px;
		height: 35px;
		background-size: contain; 
	}
	#ratingSelectBoxItContainer * {
		font-family: "allerregular", Sans-serif;
	}
}

@media (max-width:1240px) {

	#main_map_container { 
		height:350px;
		width: 100%;
		position:relative;
		margin-top: 0;
		// #my-location  {
		// 	display: none;
		// }
	}
	#top, #sidebar, #filters {
		position:relative!important;
		float: none;
		width: 100%;
	}
	#top .main-logo, #filters .selects-wrapper { margin-left: 20px; }

	// #ajax_search, #video-overlay { display:none; }
	#video-overlay { display:none; }

	#sidebar {

		height: auto;
	}

	.contents {
		padding:0;
		.add-item-page {
			width: 90%;
		}
	}


	.contents, .left-side {
		width: 100%;
	}

	.page, .single {
		#top > div {

			margin:0 auto!important;
			width: 960px;

		}
	}

	.single, .page {
		.left-side .wrap-content {
			// margin:0 auto 50px auto!important;
		    margin: 50px auto !important;
			padding: 0 20px!important;
			width: 960px;
		}
	}
	.page .left-side .wrap-content {
		margin-top: 50px!important;
	}
	.page.page-template-default {
		.left-side .wrap-content {
			padding-top: 50px!important;
			margin-top: 20px!important;
		}
	}
	

	.form-item input[type="text"], 
	.form-item input[type="tel"], 
	.form-item input[type="email"] {
		width: 90%; 
	}
	.form-item input[type="text"]#localizacao,
	.form-item input[type="tel"]#localizacao,
	.form-item input[type="email"]#localizacao {
		width: 75%; 
	} 

}


#main_map img {
  max-width: none!important;
}