@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
    /*color: #707070;*/
    color: #555;
}

ul {
    list-style: none;
    margin: unset;
    padding: unset;
}

button {
    border: unset;
    background: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: unset;
    margin: unset;
}

.idec-ficha li {
    line-height: 1.3em;
}

.pure-menu {
    font-family: 'Open Sans Condensed', sans-serif !important;
    color: white !important;
    text-transform: uppercase;
    font-size: 1.3em;
}

.idec-wrapper {
    height: 100vh;
}

#idec-main-wrapper-fixed {
    height: calc(100% - 104px);
}

.idec-menusearchlist-wrapper {

}

.idec-list-wrapper {
    background: #F6F4F3;
    height: calc(100% - 213px);
    position: fixed;
    width: calc(100% - 20px);
    margin: 10px 10px 0;
    padding-top: 10px;
}

.idec-list-header {
    padding: 0 10px;
}

.idec-list-header-back {
    float: right;
}

.idec-list-header-mapa {
    float: left;
}

.idec-list-wrapper ul {
    margin-top: 65px;
    padding: 15px 0;
}

.idec-list-item-content {
}

.idec-list-item-icon {
    float: right;
    font-size: 1em;
}

.idec-list-item-icon .mapafeiras_icon-tipo_feira,
.idec-list-item-icon .mapafeiras_icon-tipo_grupo,
.idec-list-item-icon .mapafeiras_icon-tipo_ponto-de-comercializacao,
.idec-list-item-icon .mapafeiras_icon-tipo_indefinido {
    font-size: 1.7em;
}


.idec-list-wrapper ul li {
    padding: 12px 20px;
    display: block;
}

.idec-list-wrapper ul li.with-separator {
    border-bottom: 1px solid #8B8B8B;
}

.idec-list-item-content:hover {
    color: #019E9E;
}

.ui-menu-item .idec-list-item-content:hover {
    color: #fff;
}
.ui-menu-item:hover {
    background-color: #019E9E;
}

.idec-list-wrapper ul li:hover {
    background-color: #fff;
}

.ui-menu-item.header:hover, .idec-list-wrapper ul li.header:hover {
    background-color: transparent;
}

h1.idec-list-item-title {
    font-size: 1em;
}

p.idec-list-item-address {
    font-family: "Alegreya Sans";
    margin: 5px 0 0 0;
}

.idec-menusearch-wrapper {
    background: #7BA790;
    height: 55px;
    width: 100vw;
    position: relative;
}

.idec-menu-wrapper {
    position: absolute;
    bottom: 0px;
    height: 100%;
}

.idec-feiras-logo {
    width: 88px;
    padding: 0px;
    text-align: center;
    background-image: url(images/logo-feiras-organicas-mobile.svg);
    height: 100%;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    background-size: 70%;
}

.idec-menu-wrapper ul {
    height: 55px;
    bottom: 0px;
    position: absolute;
    width: calc(100% - 88px);
    font-family: "Open Sans";
    font-size: .7em;
}

.idec-menu-wrapper li {
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 0 1px;
}

.idec-menu-wrapper li a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 100%;
    line-height: 3.5em;
    font-weight: 400;
}

.idec-menu-mapa {
    border-bottom: 6px solid #732c74;
    width: 27%;
}

.idec-menu-mapa.current-menu-item {
    background: #732c74;
}

.idec-menu-receitas {
    border-bottom: 6px solid #E6B85E;
    width: 33%;
}

.idec-menu-receitas.current-menu-item {
    background: #E6B85E;
}

.idec-menu-biblioteca {
    border-bottom: 6px solid #A7D9DF;
    width: 40%;
}

.idec-menu-biblioteca.current-menu-item {
    background: #A7D9DF;
}

.idec-menu-wrapper .current-menu-item {
}

.idec-search-wrapper {
    position: absolute;
    top: 15px;
    width: 100%;
    padding: 0;
    z-index: 100;
    box-sizing: border-box;
}

.idec-search {
    position: absolute;
    text-align: center;
    top: 40px;
    width: 100%;
}

.idec-search-input-map, .idec-search-input {
    border: 0px;
    text-align: left;
    width: 100%;
    height: 48px;
    padding: 0 40px;
    box-sizing: border-box;
    float: left;
}
.idec-search-input-map {
    padding-right: 60px;
}

.idec-search-button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #7BA790;
    font-size: 1.2em;
}

.idec-search-autocomplete {
    background: white;
    margin-top: 85px;
    padding: 0px 10px 10px;
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    display: inline-block;
}

h2.idec-search-autocomplete-section {
    font-size: 1em;
    font-weight: unset;
    text-transform: uppercase;
    color: #019E9E;
    border-bottom: 1px solid #019E9E;
    margin-top: 10px;
}

.idec-search-autocomplete-name {
    font-family: 'Alegreya Sans';
    font-size: 1.4em;
    margin: unset;
}

#idec-content-wrapper {
    background: #F6F4F3;
    height: calc(100% - 60px);
    min-height: calc(100vh - 164px);
    padding-bottom: 70px;
}

@media (min-width: 48em) {
  #idec-content-wrapper {
      min-height: calc(100vh - 80px);
      padding-bottom: 0px;
  }
}

#idec-content-wrapper.loading {
    background: #F5F2EA;
}

p.idec-search-count {
    font-size: 1em;
    padding: 20px;
    font-weight: bold;
}

h2.idec-content-subtitle , .idec-content-item h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #646464;
    margin: 30px 0;
}

.idec-content-metadata-item {
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.idec-grid {
    width: calc(100% - 40px);
    margin: 50px 20px 0;
    min-height: calc(100vh - 82px);
}

.idec-intro {
    padding: 10px;
}

.idec-content, .idec-content-full-height {
    min-height: calc(100vh - 86px);
    background: #F6F4F3;
    padding-bottom: 70px;
}

@media (min-width: 48em) {
  .idec-content, .idec-content-full-height {
      padding-top: 70px;
  }
}


.idec-content-full-height {
    height: 100%;
}

.idec-content-item, .idec-content-receita, .idec-content-biblioteca {
    max-width: 48em;
    margin: 0 auto;
    padding: 10px 16px;
}

.idec-receita-image, .idec-single-biblioteca-image {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.idec-single-biblioteca-image img {
    max-height: 420px;
}

.pure-image {
    margin: 0 auto;
    display: block;
}

.idec-content-head {
    font-size: .9em;
    position: relative;
    height: 25px;
    margin-bottom: 12px;
}

.idec-content-head i {
    font-size: 1.2em;
}

.idec-content-head-category {
    float: left;
    width: calc(100% - 140px);
}

.idec-content-head-back {
    position: absolute;
    top: 1px;
    right: 17px;
    height: 30px;
}

#closeit i {
    position: fixed;
    right: 12px;
    top: 10px;
}

.idec-content-title-row-sm {
    display: inline-block;
    color: #C4965B;
    padding-bottom: 15px;
    width: 100%;
}

.idec-receita-title-row h1, .idec-content-title-row h1 {
    float: left;
    font-size: 1.4em;
    font-family: 'Alegreya Sans';
    font-weight: 600;
}

.idec-receita-title-row i {
    float: right;
}

.idec-content-archive-count {
    font-weight: bold;
}
.idec-content-archive-count .idec-receita-count {
    color: #E6B85E;
}
.idec-content-archive-count .idec-biblioteca-count {
    color: #4ACFE0;
}
.idec-content p.idec-content-archive-page {
    font-style: italic;
    font-size: 1em;
}

ul.idec-receita-list {
    font-family: "Alegreya Sans";
    font-size: 1.2em;
}

.idec-receita-alimento-tag {
    display: inline-block;
    border: 1px solid #C4965B;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    color: #C4965B;
    background-color: rgba(256,256,256,.6);
}
.idec-receita-tipo-de-receita-tag {
    display: inline-block;
    border-left: 1px solid #C4965B;
    padding: 0 5px;
}
.idec-receita-alimento-tag a:hover, .idec-receita-tipo-de-receita-tag a:hover {
    text-decoration: underline;
    color: #333;
}

.idec-content h1 {
    float: left;
    font-size: 2em;
    font-family: 'Alegreya Sans';
    font-weight: 600;
    color: #7BA790;
    hyphens: auto;
}

.idec-content p , li.idec-oquee {
    font-family: 'Alegreya Sans';
    font-size: 1.2em;
    margin-bottom: 10px;
    hyphens: auto;
}

.idec-content p a, .idec-content li a {
    text-decoration: underline;
    color: #47742c;
}

.idec-content.searchbox {
    margin-top: 55px;
}

.idec-grid-item {
    padding: 10px;
    box-sizing: border-box;
}

.idec-grid-item-title {
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 20px 0px 10px;
}

.idec-grid-item img {
  width: 150px;
}

.idec-nav-wrapper {
    position: fixed;
    bottom: 0px;
    background: #732c74;
    height: 60px;
    z-index: 200;
    width: 100%;
}

@media screen and (min-width: 48em) {
  .idec-nav-wrapper {
    top: 0px;
  }
}

.idec-nav {
    position: absolute;
}
.idec-nav-menus-wrapper {
    bottom: 60px;
    left: 0px;
    width: 120px;
    padding-left: 15px;
}

.idec-nav-menus-wrapper li {
    padding: 6%;
}

.idec-nav-wrapper.open .idec-nav-menus-wrapper {
    position: absolute;
}

.idec-nav-menu-contact, .idec-nav-menu-inst {
    width:100%;
    background: #732c74;
    left: 0;
    padding-left: 0px;
}
.idec-nav-menu-contact {
    bottom: 0px;
}
.idec-nav-menu-inst {
    bottom: 70px;
}
.idec-silly-menu {
        position: absolute;
        top: 15px;
        left: 16vw;
}
.idec-silly-menu ul{
	width: 60%;
}
.idec-silly-menu li.menu-o-que-e {
    padding: 0;
    width: 30%;
}
.idec-silly-menu li.menu-adicionar-local {
    padding-left: 2vw;
    width: 70%;
}
.idec-logo {
    position: absolute;
    right: 4px;
    top: 7px;
    width: 70px;
    height: 50px;
    background-image: url('images/logo-idec-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#categoriesControl-wrapper {
    margin: 12px 0;
    pointer-events: auto;
    cursor: auto;
    position: absolute;
    right: 5px;
    z-index: 1000;
}
#categoriesControl-wrapper.expanded {
    padding: 6px 10px 6px 6px;
    background: #fff;
}
#filters {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    width: 98vw;
    text-align: left;
    padding: 2px 10px 2px 2px;
    right: 0;
    display: none;
    z-index: 1000;
}
#categoriesControl-form-options {
    max-height: 300px;
    overflow-y: auto;
}
#filters .ui-menu {
    max-width: unset;
}
#categoriesControl-menu, #categoriesControl-myPosition {
    font-weight: bold;
    text-decoration: none;
    color: #7BA790;
    font-size: 1.4em;
    float: left;
    margin: 0;
}
#categoriesControl-menu:hover, #categoriesControl-myPosition:hover {
    color: #416554;
}
#categoriesControl-myPosition {
    border-left: 2px #7BA790 solid;
    margin-left: 8px;
    padding-left: 8px;
}
#filters h1 {
    font-weight: normal;
    margin: 0.5em 0 .2em 0;
    padding: 0;
    display: block;
    font-size: 1.4em;
    text-align: center;
}
#filters label {
    font-weight: normal;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 0 0 .5em;
}
#filters label input[type="checkbox"] {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2px;
    line-height: normal;
    padding: 0;
    position: relative;
}
#categoriesControl-wrapper .categoryIcon {
    width: 24px;
    margin: 0px -4px -5px -4px;
}

#input-idec-form-send-photo, #button-idec-form-send-photo {
    display: none;
    font-size: 0.6em;
}

#item-ajax-content {
    background-color: #FFF;
    position: absolute;
    top: 110px;
    left: 0;
    height: 100%;
}
#item-ajax-content.contents {
    top: 0;
    z-index: 200;
}
#item-ajax-content.loading {
    background-color: #F5F2EA;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
img.loading {
  position: fixed;
  top:50%;
  left:50%;
  margin:-60px 0 0 -100px;
}

.idec-form-send-photo label {
    cursor: pointer;
}

input#button-idec-form-send-photo {
    background: grey;
    color: white;
    font-family: unset;
}

input#button-idec-form-send-photo:hover {
    box-shadow: unset;
}

.ugc-input-wrapper i.fa.fa-upload {
    font-size: 0.7em;
    color: black;
    margin: 0;
}

.idec-content-item-url a {
    text-decoration: underline;
}

.idec-content-item-image-slide {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}

.idec-content-item-image-slide i {
    font-size: 200px;
}

.idec-content-interaction-wrapper{
    background-color: white;
    margin: 20px 0 10px;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

.idec-content-interaction-wrapper > div {
    font-family: "Open Sans Condensed" !important;
    font-size: 1.7em;
    margin: 14px 0;
}

.idec-content-interaction-wrapper i {
    margin: 0 10px;
}

.idec-content-interaction-wrapper div.ugc-inner-wrapper h2 {
    display: none;
}

.idec-content-item-infotable-button-text {
    display: inline-block;
}

.idec-content-item-infotable-button-icon {
    display: inline;
    vertical-align: middle;
    font-size: 0.9em;
}

.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    font-size: 3em;
    color: #fff;
    width: 30%;
    padding-top: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 800;
    cursor: pointer;
}
.cycle-prev:hover, .cycle-next:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}
.cycle-prev {
    left: 16px;
    text-align: left;
}
.cycle-next {
    right: 16px;
    text-align: right;
}
.pure-u-1.idec-image-sent {
    background: #47742c;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    font-size: .9em;
    text-align: center;
}
/* map infobox */

.gm-style-iw {
   width: 250px !important;
   top: 17px !important; /* mover a infowindow 15px para baixo */
   /*left: 0 !important;*/
   background-color: #fff;
   /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 2px solid rgba(127, 127, 127, 0.3);
   border-radius: 2px 2px 0 0;
   padding: 25px 8px 8px;*/
   padding: 10px 29px 10px 8px;
}

.gm-style-iw { /*gmap class*/
    /*background: #FBFFF7;*/
}

.idec_marker_infos {
    font-family: "Alegreya Sans";

    hyphens: auto;
}

.idec_marker_infos h1 {
    color: #019E9E;
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: 10px;
    font-weight: 600;
}

.idec-info-text, .idec-info-buttons {
    display: inline-block;
    width: 100%;
}

.idec-info-text {
    font-size: 1.2em;
    color: #555;
    letter-spacing: 0.05em;
}

.idec-info-text .city-uf {
    margin: 10px 0;
    font-size: 1.1em;
}

.idec-info-text .address {
    font-size: 1.1em;
}

.idec-info-buttons {
    font-family: "Open Sans Condensed";
    font-size: 1.4em;
    text-transform: uppercase;
    margin-top: 16px;
}

.idec-info-buttons a {
    position: absolute;
    bottom: 0px;
    padding: 5px 10px;
    font-weight: 600;
}

.idec-info-route {
    right: 90px;
    color: #019E9E;
}

.leaflet-container a.idec-info-more {
    background-color: #019E9E;
    right: 0;
    border-top-left-radius: 10px;
    color: white;
}
#main_map .leaflet-top, #main_map .leaflet-bottom {
  z-index: 199;
}

/* map infobox end */

.idec-adicionar-local input[type="text"],
.idec-adicionar-local input[type="tel"],
.idec-adicionar-local input[type="email"] {
    width: 90%;
}

.idec-adicionar-local input, .idec-adicionar-local textarea {
    border: 1px solid #B1B1B1;
    background: white;
    height: 25px;
    padding: 10px;
    font-family: "Alegreya Sans";
    float: unset;
}

.idec-adicionar-local textarea {
    height: 75px;
    width: 90%;
}

.idec-adicionar-local input[type="file"] {
    border: unset;
    background: unset;
}

.idec-adicionar-local h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.5em;
}

.idec-adicionar-local  label , .wpcf7-list-item-label{
    font-family: 'Alegreya Sans';
    font-size: 1.2rem;
}

.idec-adicionar-local-tipo span label .wpcf7-list-item-label {
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 30px;
    line-height: 1.5em;
    margin-left: 10px;
}

.selos span .wpcf7-list-item-label .box  {
    line-height: 1.5em;
}

.adicionar-local-submit input {
    font-size: 1.5em;
}

.adicionar-local-submit {
    text-align: center;
}

.idec-facaparte-bloco {
    padding: 0 24px;
    box-sizing: border-box;
}

.idec-facaparte-bloco > div {
    background: white;
    padding-bottom: 10px;
}

.idec-facaparte-bloco p {
    padding: 0 15px;
}

.idec-facaparte-bloco h2 {
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
    color: white;
}

.idec-facaparte-title {
    height: 100px;
    background: #732c74;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.idec-facaparte-title > div {
    vertical-align: middle;
    display: table-cell;
}
.idec-facaparte-saiba-mais {
    margin: 10px auto;
    width: 50%;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#tipo > span {
    display: block;
}

#tipo span label {
    display: table;
    margin: 5px 0;
}

#tipo span label input , #tipo span label span{
    display: table-cell;
    margin-right: 10px;
}

.idec-adicionar-local-tipo span:nth-child(1) label .wpcf7-list-item-label {
    background-image: url('/wp-content/themes/IDEC_feiras/images/icones_tipos_sombra_feira.png');
}

.idec-adicionar-local-tipo span:nth-child(2) label .wpcf7-list-item-label {
    background-image: url('/wp-content/themes/IDEC_feiras/images/icones_tipos_sombra_grupo.png');
}

.idec-adicionar-local-tipo span:nth-child(3) label .wpcf7-list-item-label {
    background-image: url('/wp-content/themes/IDEC_feiras/images/icones_tipos_sombra_ponto-de-comercializacao.png');
}

#comercio-condicoes textarea {
    height: 100px;
}

#comercio-condicoes .wpcf7-list-item {
    margin: 5px 0;
}

.form-item .day_options {
    margin-bottom: 20px;
    border-radius: 8px;
    width: 300px;
}

.form-item .day_options input[type=text]{
    width: 300px;
}


.wpcf7-form-control.wpcf7-file {
    border: unset;
    background: unset;
    height: unset;
}

.wpcf7-form-control.wpcf7-submit.btn {
    background: grey;
    height: unset;
    width: 200px;
}

.rrssb-trigger {
    cursor: pointer;
}
.rrssb-wrapper {
    display:none;
    width: 250px;
    position: fixed;
    top: 61px;
    right: 90px;
    z-index: 1000;
    /*background-color: #fff;*/
}
.rrssb-buttons {
    height: 50px;
    float: left;
    width:250px;
}

#main_map {
    width: 100%;
    height: 100%;
    margin-top: 49px; /*balance search box height*/
}

.idec-receita-single-image {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    background-position: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 20px;
}


.idec-parceiros {
    max-width: 700px;
    margin: 0 auto 10px;
}

.idec-parceiros div {
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    display: block;
    width: 200px;
    background-position: 50%;
    border-radius: 100px;
    padding: 0px;
    margin: 15px auto;
}

@media (min-width: 730px) {
    .idec-parceiros div {
	display: inline-block;
	margin: 0 15px;
    }
}

.idec-parceiros div a {
    width: 100%;
    height: 100%;
    display: inherit;
}

.idec-parceiros2 {
    max-width: 548px;
    margin: 0 auto;
}

.idec-parceiros2 div {
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    display: inline-block;
    width: 150px;
    background-position: 50%;
    border-radius: 100px;
    padding: 10px;
    margin: 5px;
}

.idec-parceiros2 div a {
    width: 100%;
    height: 100%;
    display: inherit;
}

a.disabled {
    cursor: default;
}
#idec-remove-filter {
    text-align: right;
    display:none;
}
#idec-remove-filter > span {
    font-size: 75%;
    cursor: pointer;
}
#idec-remove-filter-name {
    font-style: italic;
}
#idec-contact-logo {
    float: right;
    margin-top: -50px;
}
#idec-biblioteca-logo {
    float: right;
    margin: 0;
}
#idec-contact-logo img {
    width: 100px;
    margin-bottom: 30px;
}
#idec-biblioteca-logo img {
    width: 100px;
    margin-left: 6px;
}

.navigation {
    font-size: 1.2em;
    font-family: Open Sans;
    text-align: center;
}

.navigation h2 {
    display: none;
}

.navigation .page-numbers {
    background: #E6B85E;
    padding: 5px 10px;
    color: white !important;
    display: inline-block;
    margin-bottom: 10px;
}
.navigation .page-numbers-biblioteca {
    background: #A7D9DF;
}

.page-numbers.dots, .page-numbers.current {
    background: no-repeat;
    color: #E6B85E !important;
}
.page-numbers-biblioteca.page-numbers.current {
    color: #A7D9DF !important;
}

@media screen and (min-width: 35.5em) {
    .idec-menu-wrapper li a {
        font-size: 1.7em;
        font-family: "Open Sans Condensed";
        line-height: 2em;
    }
    .idec-content-item-infotable-sm > div {
        display: table;
        margin-bottom: 20px;
    }
    .idec-content-item-infotable-sm > div > div {
        display: table-cell;
        vertical-align: middle;
    }
    .idec-content-item-infotable-sm p {
        margin: unset;
    }
}

@media screen and (min-width: 48em) {
    #main_map {
        margin-top: 0px;
    }
    #idec-main-wrapper {
        padding: 76px 0px 0px;
        /*height: 100%;*/
        box-sizing: border-box;
    }
    #idec-main-wrapper-fixed {
        height: calc(100% - 60px - 16px);
        padding: 76px 0 0 0px;
    }
    .idec-menusearchlist-wrapper-sm, .idec-menusearchlist-wrapper-fixed-sm {
        padding-right: 16px;
        box-sizing: border-box;
    }
    .idec-menusearchlist-wrapper-fixed-sm {
        height: 100%;
    }
    .idec-menusearch-wrapper-sm {
        height: 214px;
        width: unset;
    }
    .idec-menu-wrapper-sm {
        text-align:center;
        font-size: 1.7em;
    }
    .idec-menu-wrapper-sm ul {
        position: relative;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        margin-top: 8px;
    }
    .idec-menu-wrapper-sm li {
        height: 40px;
        /*border: unset;*/
        padding: 8px 0;
        z-index: 10;
    }
    .idec-menu-wrapper-sm li a {
        font-size: 1.2em;
        line-height: unset;
    }
    .current-menu-item i {
        display: none;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        padding: 6px;
        position: absolute;
        top: 33px;
        left: calc(50% - 3px);
        z-index: -1;
    }
    .idec-menu-mapa-sm {
        width: 32%;
    }
    .current-menu-item .idec-menu-mapa-down-sm {
        display: inline-block;
        background: #732c74;
        display: none;
    }
    .idec-menu-receitas-sm {
        width: 32%;
    }
    .current-menu-item  .idec-menu-receitas-down-sm {
        display: inline-block;
        background: #E6B85E;
        display: none;
    }
    .idec-menu-biblioteca-sm {
        width: 36%;
    }
    .current-menu-item  .idec-menu-biblioteca-down-sm {
        display: inline-block;
        background: #A7D9DF;
        display: none;
    }
    .idec-menu-wrapper-sm .current-menu-item {
        border-radius: 0px;
    }
    .idec-search-sm {
        position: relative;
        top: unset;
    }
    .idec-search-input-sm  {
    }
    .idec-search-button-sm {
        left: 13px;
    }
    .idec-search-wrapper-sm {
        bottom: 0px;
        top: unset;
        background: #F6F4F3;
        padding-right: 2px;
    }
    .idec-search-autocomplete-sm {
        top: 45px;
        position: absolute;
        margin: unset;
        width: 100%
     }
    .idec-list-wrapper-sm{
        position: unset;
        width: unset;
        margin: unset;
        padding: unset;
    }
    .idec-list-wrapper-sm ul {
        margin-top: unset;
    }
    #idec-content-wrapper {
        background: white;
        height: 100%;
    }
    .idec-content, .idec-content-full-height {
        background: transparent;
    }
    .idec-feiras-logo-sm {
        background-image: url(images/logo-feiras-organicas.svg);
        background-position: center;
        background-size: auto 70px;
        height: 118px;
        display: block !important;
        width: 100%;
    }
    #filters {
        right: unset;
        width: 400px;
    }
    .idec-grid-sm {
        margin-top: 10px;
    }
    .idec-content-item-address-wrapper-sm {
        display: table;
        width: 100%;
    }
    .idec-content-item-address-sm {
        width: 80%;
    }
    .idec-content-item-address-wrapper-sm > div{
        display: table-cell;
        vertical-align: middle;
    }
    .idec-content-item-url-sm {
        min-width: 120px;
        width: 20%;
        text-align: right;
    }

    #item-ajax-content {
        top: 16px;
    }
    #idec-contact-logo img {
        width: 150px;
        margin-bottom: 0;
    }
    #idec-biblioteca-logo img {
        width: 150px;
    }
}

@media screen and (min-width: 48em) {
    .idec-nav-menus-wrapper-md {
        position: relative;
        display: block;
        background: unset;
        bottom: unset;
        height: 60px;
        width: unset;
    }
    .idec-nav-md {
        position: relative;
        top: 44%;
        transform: translateY(-50%);
        width: calc(100% - 120px);
        background: unset;
    }
    .idec-nav-md li{
        padding-left: 10px;
    }
    .idec-nav-menu-inst-md {
        margin-left: 0px;
        display: inline-block !important;
        width: 60%;
        float: left;
    }
    .idec-nav-menu-contact-md {
        text-align: unset;
        display: inline-block !important;
        float: right;
        width: 18%;
        margin-right: 100px;
    }
    .offset-md-2-5 {
        margin-left: 40%;
        *margin-left: 39.995%;
    }
    #item-ajax-content.loading img {
        left:70%;
    }
    img.loading {
        left:70%;
    }

    .idec-content-item, .idec-content-receita, .idec-content-biblioteca {
        padding: 10px;
    }
    .idec-receita-image-sm {
        margin-top: 20px;
    }
    .idec-ficha {
        border-color: grey;
        border-style: solid;
        border-width: 2px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 24px;
        background: #F6F4F3;
    }
    .idec-content.searchbox {
        margin-top: 0px;
    }
    .idec-content-head-sm {
        display: block !important;
    }
    .idec-content-head-back {
        right: 33px;
    }
    #closeit i {
        right: calc((100vw - 48em) / 2 + 25px);
        top: 80px;
        border-radius: 10px;
        background-color: #fff;
        margin: 0;
        padding: 0;
        line-height: 0;
    }
    .idec-content-title-row-sm {
        display: inline-block !important;
    }
    .idec-ficha-receita-sm{
        padding: 0px;
    }
    .idec-ficha-receita-inner-sm {
        padding: 24px;
    }
    .idec-receita-single-image-sm {
        height: 400px;
    }
}

/* initial purecss config */
.pure-g {
    letter-spacing: 0;
}

.pure-hide {
    display:none;
}
.pure-show {
    display:inherit;
}

@media screen and (min-width: 35.5em) {
    .pure-sm-hide {
        display:none;
    }
    .pure-sm-show {
        display:inherit;
    }
}
@media screen and (min-width: 48em) {
    .pure-md-hide {
        display:none;
    }
    .pure-md-show {
        display:inherit;
    }
}
@media screen and (min-width: 64em) {
    .pure-lg-hide {
        display:none;
    }
    .pure-lg-show {
        display:inherit;
    }
    .offset-lg-1-3 {
        margin-left: 33.33%;
        *margin-left: 33.325%;
    }
    .offset-lg-2-3 {
        margin-left: 66.67%;
        *margin-left: 66.665%;
    }
}
@media screen and (min-width: 80em) {
    .pure-xl-hide {
        display:none;
    }
    .pure-xl-show {
        display:inherit;
    }
}


/* menu */

.custom-wrapper {
    background-color: #ffd390;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: none;
}

.custom-toggle .bar {
    background-color: #FFF;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

@media (min-width: 342px) {

}

@media (min-width: 479px) {
    .idec-content-item-infotable-button-icon {
        display: inline-block;
    }
}
.box {
    display: inline-block;
    background: rgba(70,70,70,0.5);
    margin-left: 10px;
    color: white;
    padding: 2px;
    border-radius: 28px;
    font-size: 1em;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;

}
.button {
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.modal {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.modal h2 {
  margin-top: 0;
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.modal .close:hover {
  color: #06D85F;
}
/* .modal .content {
  max-height: 30%;
  overflow: auto;
} */

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    position: fixed;
    top: 90px;
    left: 15vw;
    width: 64vw;
    background: rgba(1,1,1,0.5);
    font-size: 28px;
    color: white;
    line-height: 1.1em;
    margin: 0px;
    padding: 0px
}

.report_2d tr:hover {
  background: aliceblue;
}

.report_2d td {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid;
}

.report_2d td:nth-child(1) {
    text-align: left;
}

.report_2d tr:nth-child(2) td {
    border-top: 0px;
}

.report td {
    text-align: center;
    font-size: 3em;
    padding-bottom: 15px;
}

.report th {
    font-weight: normal;
}

.report, .report_2d {
    margin-bottom: 50px;
}

.idec-selos > div {
  display:inline-block;
  margin: 0 10px;
}

.idec-selos img {
  height: 50px;
  border-radius: 12px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -150px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  from {background-color: transparent;}
  to {background-color: black;}
}

/* facebook Feed Them */
.fts-jal-single-fb-post {
  width: calc(50% - 20px);
  display: inline-block;
  vertical-align: top;
  padding: 0 10px !important;
}
.fts-jal-fb-header h1 {
 float: none;
}
.single .fts-jal-fb-header h1 {
  display: none;
}

/* botoes */
.crowdbutton-form, .crowdbutton, .ugc-input-wrapper label[for="input-idec-form-send-photo"] {
  background: #f6f4f3;
  border-radius: 3px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.crowdbutton-form, .crowdbutton {
    padding: 9.9px 15px;
}

.gostei {
    background: url( '/wp-content/themes/idec_feiras/images/gostei.png' );
}
.naoencontrei {
    background: url( '/wp-content/themes/idec_feiras/images/naoencontrei.png' );
}
.gostei, .naoencontrei {
  width: 22px;
  height: 21px;
  display: inline-block;
  background-size: 22px;
}
button[disabled=""] i.gostei {
    background: url( '/wp-content/themes/idec_feiras/images/gostei_disabled.png' );
    background-size: 22px;
}
.wp-video {
    margin: auto;
}

#comidadeverdade_table tr.odd, #comidadeverdade_table tr.even {
    cursor: pointer;
}
a.aboutControl, a.aboutControl:hover, a.aboutControl:active {
	width: auto !important;
	padding: 0 5px;
    font-size: 20px;
	min-width: 26px;
    background-color: #7BA790;
    color: white;
    font-weight: bold;
    font-family: "Open Sans Condensed";
}
#aboutControlTextTitle {
    text-transform: uppercase;
    font-size: 30px;
}
.leaflet-touch .leaflet-bar a.aboutControl {
    height: auto;
    padding: 16px;
    line-height: 1.2;
}
@media (max-width: 47.999em) {
    #aboutControlTextTitle {
        font-size: 22px;
    }
    #aboutControlText {
        font-size: 14px;
    }
}
