/*{
		"height":50,
		"width":50,
		"url":base_dir+'/images/clusters/f1.png'
},
{
		"height":70,
		"width":70,
		"url":base_dir+'/images/clusters/f2.png'
},
{
		"height":90,
		"width":90,
		"url":base_dir+'/images/clusters/f3.png'
},
{
		"height":110,
		"width":110,
		"url":base_dir+'/images/clusters/f4.png'
},
{
		"height":130,
		"width":130,
		"url":base_dir+'/images/clusters/f5.png'
}*/

.marker-cluster-small {

	}
.marker-cluster-small div {
	margin-top: 17px;
	}

.marker-cluster-medium {
	}
.marker-cluster-medium div {
	margin-top: 37px;
	}

.marker-cluster-large {
	}
.marker-cluster-large div {
	margin-top: 57px;
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 50%;
	border: solid 2px #666;
	background-color: rgba(241, 241, 241, 0.9);
	}
.marker-cluster div {
	height: 30px;
	text-align: center;
	border-radius: 50%;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	color: #000;
	font-weight: bold;
	}
